* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 10%;
}
.headline {
  font-size: 22px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  text-align: center;
}
.list{
  padding-left: 50px;
}

.list-item {
  padding-left: 10px;
}